<div class="main">
  <h1>Vaeret</h1>
  <h2> {{data?.time| date}}</h2>
  <div class="column-container">
    <div class="row-layout">
      <div class="inner-row-container-header">
        I dag :
      </div>
      <div class="inner-row-container">
        {{data?.now?.temperature}}℃
        <div>temperatur</div>
      </div>
      <div class="inner-row-container">
        {{data?.now?.humidity}} %
        <div>luft fuktighet</div>
      </div>
      <div class="inner-row-container">
        {{data?.now?.windDirection}}
        <div>vind retning</div>
      </div>
      <div class="inner-row-container">
        {{data?.now?.windSpeed}} m/s
        <div>vind hastighet</div>
      </div>
    </div>
  </div>
  <div class="column-container">
    <div class="inner-row-container-header">
      Den neste timen:
    </div>
    <div class="row-layout">
      <div class="inner-row-container">
       {{data?.nextHour}}
      </div>
    </div>
    <div class="row-layout">
      <div class="inner-row-container-header">
        De neste 6 timene:
      </div>
      <div class="inner-row-container">
        {{data?.next6Hours}}
      </div>
    </div>
    <div class="row-layout">
      <div class="inner-row-container-header">
        De neste 12 timene:
      </div>
      <div class="inner-row-container">
      {{data?.next12Hours}}
      </div>
    </div>
  </div>
</div>
