<div class="main">
  <h1>Weather for {{data?.time| date}}</h1>
  <div class="column-container">
    <div class="row-layout">
      <div class="inner-row-container-header">
        Now:
      </div>
      <div class="inner-row-container">
        {{data?.now?.temperature}}
        <div>temperatur</div>
      </div>
      <div class="inner-row-container">
        {{data?.now?.humidity}}
        <div>luft fuktighet</div>
      </div>
      <div class="inner-row-container">
        {{data?.now?.windDirection}}
        <div>vind retning</div>
      </div>
      <div class="inner-row-container">
        {{data?.now?.windSpeed}}
        <div>vind hastighet</div>
      </div>
    </div>
  </div>
  <div class="column-container">
    <div class="row-layout">
      <div class="inner-row-container-header">
        Next Hour:
      </div>
      <div class="inner-row-container">
       {{data?.nextHour}}
      </div>
    </div>
    <div class="row-layout">
      <div class="inner-row-container-header">
        Next 6 hours:
      </div>
      <div class="inner-row-container">
        {{data?.next6Hours}}
      </div>
    </div>
    <div class="row-layout">
      <div class="inner-row-container-header">
        Next 12 hours:
      </div>
      <div class="inner-row-container">
      {{data?.next12Hours}}
      </div>
    </div>
  </div>

</div>
